apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: prometheus
  name: prometheus
spec:
  ports:
  - name: prom-direct
    port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    app: prom
