apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: grafana
  app.kubernetes.io/name: grafana
  app.kubernetes.io/part-of: app-monitoring
  app.kubernetes.io/managed-by: kustomize

resources:
- grafana-deployment.yaml
- grafana-svc.yaml
- grafana-sa.yaml
- grafana-route.yaml
- grafana-direct-svc.yaml
- grafana-data-pvc.yaml

configMapGenerator:
- files:
  - grafana.ini
  name: grafana-config
secretGenerator:
#  python -c 'import os,base64; print base64.b64encode(os.urandom(16))'
- literals:
  - session_secret=vtmFnAI5UgevynW+45kQmg==
  name: grafana-proxy-secret
  type: Opaque
- files:
  - grafana-datasources.yaml
  name: grafana-datasources
  type: Opaque

images:
  - name: oauth-proxy-image
    newName: openshift3/oauth-proxy
    newTag: v3.11
  - name: grafana-image
    newName: grafana/grafana
    newTag: 7.1.3
