# Golden signals
# Latency : Amount of time to serve a request
# Traffic : Number of Transactions / Sessions / HTTP Requests
# Errors  : Rate of failed requests (Traffic related)
# Saturation : How close to 100% utilization



groups:
- name: fuse-alerts
  rules:
#  # Alert because the scrape Job is not working
#  - alert: k8servicesScrapingJobMissing
#    expr: absent(up{job="k8services"})
#    for: 1m
#    labels:
#      severity: critical
#      golden: errors
#    annotations:
#      summary: "Scraping job missing (instance {{ $labels.instance }})"
#      description: "A Scraping job has disappeared\n  VALUE = {{ $value }}"

  - alert: JVMAppHeapUsageAbove90Percent
    expr: (jvm_memory_bytes_used{area="heap"} / jvm_memory_bytes_max{area="heap"} ) >= 0.90
    for: 1m
    labels:
      severity: critical
      golden: saturation
    annotations:
      summary: "JVMAppHeapUsageAbove90Percent  (app {{ $labels.app }} project {{ $labels.kubernetes_namespace}} )"
      description: "A JVMAppHeapUsageAbove90Percent\n  VALUE = {{ $value | humanizePercentage }}"

  - alert: StorageHighUsage90Percent
    expr: (kubelet_volume_stats_used_bytes{persistentvolumeclaim=~".+"}  / kubelet_volume_stats_capacity_bytes{persistentvolumeclaim=~".+"} ) > 0.9
    for: 15m
    labels:
      severity: "CRITICAL"
      priority: PAGE
    annotations:
      summary: "Disk usage of a PVC is above 90 percent. The pvc is ({{ $labels.persistentvolumeclaim }}) in namespace ({{ $labels.namespace }})."
      description: "Disk usage of a PVC is above 90 percent. VALUE = {{ $value | humanizePercentage }} pvc is ({{ $labels.persistentvolumeclaim }})  in namespace ({{ $labels.namespace }})."
      url: "https://www.example.com/too_many_requests_fixing_instructions"


#  up{instance=~".*:9779"}
#  up{job="k8services",instance=~".*:9779"}
#  (absent(up{job="k8services"}) or (up{job="k8services"} == 0)+1) == 1
#  max_over_time(org_apache_camel_MaxProcessingTime[5m])

