# Golden signals
# Latency : Amount of time to serve a request
# Traffic : Number of Transactions / Sessions / HTTP Requests
# Errors  : Rate of failed requests (Traffic related)
# Saturation : How close to 100% utilization



groups:
- name: fuse-alerts
  rules:
  # Alert because the scrape Job is not working
  - alert: FuseScrapingJobMissing
    expr: absent(up{job="fuse-scraping"})
    for: 1m
    labels:
      severity: critical
      golden: errors
    annotations:
      summary: "FuseScraping job missing (instance {{ $labels.instance }})"
      description: "A FuseScraping job has disappeared\n  VALUE = {{ $value }}"

  - alert: JVMAppHeapUsageAbove90Percent
    expr: (jvm_memory_bytes_used{area="heap"} / jvm_memory_bytes_max{area="heap"} ) >= 0.90
    for: 1m
    labels:
      severity: critical
      golden: saturation
    annotations:
      summary: "JVMAppHeapUsageAbove90Percent  (app {{ $labels.app }} project {{ $labels.kubernetes_namespace}} )"
      description: "A JVMAppHeapUsageAbove90Percent\n  VALUE = {{ $value | humanizePercentage }}"

   # Check the offset value (1h) with your SLI/SLO/SLA. This Alert will give a false resolved after (1h)!
  - alert: FuseJobDown
    expr: count (org_apache_camel_TotalRoutes offset 1h > 0) by (app,kubernetes_namespace) unless count(org_apache_camel_TotalRoutes) by (app,kubernetes_namespace)
    for: 5m
    labels:
      severity: critical
      golden: errors
    annotations:
      summary: "Fuse  job Down missing (app {{ $labels.app }} in (namespace {{ $labels.kubernetes_namespace }} )"
      description: "A Fuse job Down has disappeared\n  (app {{ $labels.app }} in (namespace {{ $labels.kubernetes_namespace }} )"



#  up{instance=~".*:9779"}
#  up{job="fuse-scraping",instance=~".*:9779"}
#  (absent(up{job="fuse-scraping"}) or (up{job="fuse-scraping"} == 0)+1) == 1
#  max_over_time(org_apache_camel_MaxProcessingTime[5m])

