kind: Deployment
apiVersion: apps/v1
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: prometheus
  template:
    metadata:
      labels:
        deployment: prometheus
    spec:
      serviceAccountName: prometheus
      imagePullSecrets:
        - name: redhat-pull-secret
      containers:
        - name: prometheus-proxy
          image: oauth-proxy-image
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OAUTH_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: oauth-issuer
                  key: OAUTH_ISSUER
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 20m
              memory: 32Mi
          ports:
            - containerPort: 8443
              name: web
              protocol: TCP
          livenessProbe:
            httpGet:
              port: 8443
              scheme: HTTPS
              path: /oauth/healthz
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              port: 8443
              scheme: HTTPS
              path: /oauth/healthz
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          args:
            - -provider=openshift
            - -login-url=https://$(OAUTH_ISSUER)/oauth/authorize
            - -redeem-url=https://$(OAUTH_ISSUER)/oauth/token
            - -openshift-service-account=prometheus
            - -https-address=:8443
            - -http-address=
            - -email-domain=*
            - -upstream=http://localhost:9090
            - '-openshift-sar={"resource": "namespaces", "verb": "get", "resourceName": "$(NAMESPACE)", "namespace": "$(NAMESPACE)"}'
            - -tls-cert=/etc/tls/private/tls.crt
            - -tls-key=/etc/tls/private/tls.key
            - -cookie-secret-file=/etc/proxy/secrets/session_secret
            - -cookie-name=_oauth2_prom_bnl
            - -ssl-insecure-skip-verify=true
            - -request-logging=false
            - -skip-auth-regex=^/oauth/healthz
          volumeMounts:
            - mountPath: /etc/tls/private
              name: prometheus-tls
            - mountPath: /etc/proxy/secrets
              name: prometheus-proxy-secret

        - name: prometheus
          image: prometheus-image
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OAUTH_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: oauth-issuer
                  key: OAUTH_ISSUER
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          ports:
            - name: web
              containerPort: 9090
              protocol: TCP
          args:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.retention.time=24h
            - --web.listen-address=:9090
          livenessProbe:
            httpGet:
              port: 9090
              scheme: HTTP
              path: /-/healthy
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              port: 9090
              scheme: HTTP
              path: /-/ready
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          volumeMounts:
            - mountPath: /etc/prometheus/prometheus.yml
              name: prometheus-config
              subPath: prometheus.yml
            - mountPath: /etc/prometheus/prometheus-rules.yaml
              name: prometheus-rules
              subPath: prometheus-rules.yaml
            - mountPath: /etc/prometheus/fuse-rules.yaml
              name: fuse-rules
              subPath: fuse-rules.yaml
            - mountPath: /etc/prometheus/amq-rules.yaml
              name: amq-rules
              subPath: amq-rules.yaml
            - mountPath: /etc/prometheus/app-rules.yaml
              name: app-rules
              subPath: app-rules.yaml
            - mountPath: /prometheus
              name: prometheus-data

        # Deploy alertmanager behind an oauth proxy
        # use http port=4190 and https port=9943 to differ from prom-proxy
        - name: alertmanager-proxy
          image: oauth-proxy-image
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9443
              name: web
              protocol: TCP
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OAUTH_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: oauth-issuer
                  key: OAUTH_ISSUER
          args:
            - -provider=openshift
            - -login-url=https://$(OAUTH_ISSUER)/oauth/authorize
            - -redeem-url=https://$(OAUTH_ISSUER)/oauth/token
            - -openshift-service-account=prometheus
            - -https-address=:9443
            - -http-address=
            - -email-domain=*
            - -upstream=http://localhost:9093
            - '-openshift-sar={"resource": "namespaces", "verb": "get", "resourceName": "$(NAMESPACE)", "namespace": "$(NAMESPACE)"}'
            - -tls-cert=/etc/tls/private/tls.crt
            - -tls-key=/etc/tls/private/tls.key
            - -cookie-secret-file=/etc/proxy/secrets/session_secret
            - -cookie-name=_oauth2_alert_bnl
            - -request-logging=false
            - -skip-auth-regex=^/oauth/healthz
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 20m
              memory: 32Mi
          livenessProbe:
            httpGet:
              port: 9443
              scheme: HTTPS
              path: /oauth/healthz
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              port: 9443
              scheme: HTTPS
              path: /oauth/healthz
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          volumeMounts:
            - mountPath: /etc/tls/private
              name: alertmanager-tls
            - mountPath: /etc/proxy/secrets
              name: alertmanager-proxy-secret

        - name: alertmanager
          image: alertmanager-image
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9093
              name: web
              protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          livenessProbe:
            httpGet:
              port: 9093
              scheme: HTTP
              path: /-/healthy
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              port: 9093
              scheme: HTTP
              path: /-/ready
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          volumeMounts:
            - mountPath: /etc/alertmanager
              name: alertmanager-config
            - mountPath: /alertmanager
              name: alertmanager-data

      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
        - name: prometheus-rules
          configMap:
            name: prometheus-rules
        - name: fuse-rules
          configMap:
            name: fuse-rules
        - name: amq-rules
          configMap:
            name: amq-rules
        - name: app-rules
          configMap:
            name: app-rules
        - name: prometheus-tls
          secret:
            secretName: prometheus-tls
        - name: prometheus-proxy-secret
          secret:
            secretName: prometheus-proxy-secret
        - name: alertmanager-tls
          secret:
            secretName: alertmanager-tls
        - name: alertmanager-proxy-secret
          secret:
            secretName: alertmanager-proxy-secret
        - name: alertmanager-config
          configMap:
            name: alertmanager-config
        - name: prometheus-data
          persistentVolumeClaim:
            claimName: prometheus-data-pvc
        - name: alertmanager-data
          persistentVolumeClaim:
            claimName: alertmanager-data-pvc
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
  strategy:
    type: Recreate
  revisionHistoryLimit: 5
  progressDeadlineSeconds: 600

